<h1 class="text-center">Admin Homepage</h1>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">View Orders</h5>
                    <div style="text-align:center;">
                        <img src="~/img/orders.png" class="img-fluid" style="width: 350px; height: 250px;" />
                    </div>
                    <p class="card-text">Click the button below to view orders.</p>
                    <a asp-controller="Admin" asp-action="AdminOrders" class="btn btn-primary mx-auto d-block">View Orders</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">View Customers</h5>
                    <div style="text-align:center;">
                        <img src="~/img/customer.png" class="img-fluid" style="width: 350px; height: 250px;" />
                    </div>
                    <p class="card-text">Click the button below to view customers.</p>
                    <a asp-controller="Admin" asp-action="AdminCustomers" class="btn btn-primary mx-auto d-block">View Customers</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">View Products</h5>
                    <div style="text-align:center;">
                        <img src="~/img/lego.png"  class="img-fluid" style="width: 350px; height: 250px;" />
                    </div>
                    <p class="card-text">Click the button below to view products.</p>
                    <a asp-controller="Admin" asp-action="AdminProducts" class="btn btn-primary mx-auto d-block">View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>
