@model IEnumerable<string>

<div class="d-grid gap-2">
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Filter by Color
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item @(string.IsNullOrEmpty(ViewBag.SelectedProductColor) ? "active" : "")" asp-action="Product" asp-controller="Home" asp-route-productColor="" asp-route-pageNum="1">
                    All Colors
                </a>
            </li>
            @foreach (string pt in Model ?? Enumerable.Empty<string>())
            {
                <li>
                    <a class="dropdown-item @(pt == ViewBag.SelectedProductColor ? "active" : "")" asp-action="Product" asp-controller="Home" asp-route-productColor="@pt" asp-route-pageNum="1">
                        @pt
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
