@model INTEX_II_413.Models.ViewModels.OrderSubmissionViewModel

@if (Model != null)
{
    <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId">
}


<h1 style="margin-bottom: 16px;">Enter Payment Information</h1>
<form asp-controller="Home" asp-action="PlaceOrder" method="post" style="width: 100%;">

    <!-- I need the CustomerId somehow. I will either bring it in this way, or through the session/cookies-->
    <input type="hidden" asp-for="CustomerId" value="5"> 



    <label for="bank" style="margin-bottom: 16px; display: block;">Bank:</label>
    <select asp-for="Order.Bank" id="bank" required style="width: calc(100% - 16px); padding: 8px; margin-bottom: 16px; box-sizing: border-box;">
        <option value=""></option>
        <option value="RBS">RBS</option>
        <option value="Lloyds">Lloyds</option>
        <option value="Barclays">Barclays</option>
        <option value="Halifax">Halifax</option>
        <option value="Monzo">Monzo</option>
        <option value="HSBC">HSBC</option>
        <option value="Metro">Metro</option>
    </select>

    <label style="margin-bottom: 16px; display: block;">Card Type:</label>
    <div style="margin-bottom: 16px;">
        <input asp-for="Order.CardType" type="radio" id="visa" name="cardType" value="Visa" required checked>
        <label for="visa" style="margin-right: 16px;">Visa</label>
        <input asp-for="Order.CardType" type="radio" id="mastercard" name="cardType" value="Mastercard" required>
        <label for="mastercard">Mastercard</label>
    </div>

    <input asp-for="Order.EntryMode" type="hidden" value="CVC" required>

    <input asp-for="Order.Type" type="hidden" value="Online" required>

    <label for="address" style="margin-bottom: 16px; display: block;">Shipping Address:</label>
    <select asp-for="Order.Address" id="address" required style="width: calc(100% - 16px); padding: 8px; margin-bottom: 16px; box-sizing: border-box;">
        <option value="USA">USA</option>
        <option value="Afghanistan">Afghanistan</option>
        <option value="Algeria">Algeria</option>
        <option value="Argentina">Argentina</option>
        <option value="Armenia">Armenia</option>
        <option value="Australia">Australia</option>
        <option value="Austria">Austria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="Bahrain">Bahrain</option>
        <option value="Bangladesh">Bangladesh</option>
        <option value="Belgium">Belgium</option>
        <option value="Brazil">Brazil</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Canada">Canada</option>
        <option value="Chile">Chile</option>
        <option value="China">China</option>
        <option value="Colombia">Colombia</option>
        <option value="Congo (DRC)">Congo (DRC)</option>
        <option value="Costa Rica">Costa Rica</option>
        <option value="Croatia">Croatia</option>
        <option value="Egypt">Egypt</option>
        <option value="Ethiopia">Ethiopia</option>
        <option value="France">France</option>
        <option value="Germany">Germany</option>
        <option value="United Kingdom">UK</option>
        <option value="India">India</option>
        <option value="Indonesia">Indonesia</option>
        <option value="Iran">Iran</option>
        <option value="Iraq">Iraq</option>
        <option value="Italy">Italy</option>
        <option value="Japan">Japan</option>
        <option value="Kenya">Kenya</option>
        <option value="South Korea">South Korea</option>
        <option value="Mexico">Mexico</option>
        <option value="Myanmar">Myanmar</option>
        <option value="Morocco">Morocco</option>
        <option value="Nigeria">Nigeria</option>
        <option value="Pakistan">Pakistan</option>
        <option value="Peru">Peru</option>
        <option value="Philippines">Philippines</option>
        <option value="Russia">Russia</option>
        <option value="Saudi Arabia">Saudi Arabia</option>
        <option value="South Africa">South Africa</option>
        <option value="Spain">Spain</option>
        <option value="Sri Lanka">Sri Lanka</option>
        <option value="Thailand">Thailand</option>
        <option value="Turkey">Turkey</option>
        <option value="Uganda">Uganda</option>
        <option value="Ukraine">Ukraine</option>
        <option value="Venezuela">Venezuela</option>
        <option value="Vietnam">Vietnam</option>
    </select>

    <label for="country" style="margin-bottom: 16px; display: block;">Country:</label>
    <select asp-for="Order.Country" id="country" required style="width: calc(100% - 16px); padding: 8px; margin-bottom: 16px; box-sizing: border-box;">
        <option value="USA">USA</option>
        <option value="Afghanistan">Afghanistan</option>
        <option value="Algeria">Algeria</option>
        <option value="Argentina">Argentina</option>
        <option value="Armenia">Armenia</option>
        <option value="Australia">Australia</option>
        <option value="Austria">Austria</option>
        <option value="Azerbaijan">Azerbaijan</option>
        <option value="Bahrain">Bahrain</option>
        <option value="Bangladesh">Bangladesh</option>
        <option value="Belgium">Belgium</option>
        <option value="Brazil">Brazil</option>
        <option value="Bulgaria">Bulgaria</option>
        <option value="Canada">Canada</option>
        <option value="Chile">Chile</option>
        <option value="China">China</option>
        <option value="Colombia">Colombia</option>
        <option value="Congo (DRC)">Congo (DRC)</option>
        <option value="Costa Rica">Costa Rica</option>
        <option value="Croatia">Croatia</option>
        <option value="Egypt">Egypt</option>
        <option value="Ethiopia">Ethiopia</option>
        <option value="France">France</option>
        <option value="Germany">Germany</option>
        <option value="United Kingdom">UK</option>
        <option value="India">India</option>
        <option value="Indonesia">Indonesia</option>
        <option value="Iran">Iran</option>
        <option value="Iraq">Iraq</option>
        <option value="Italy">Italy</option>
        <option value="Japan">Japan</option>
        <option value="Kenya">Kenya</option>
        <option value="South Korea">South Korea</option>
        <option value="Mexico">Mexico</option>
        <option value="Myanmar">Myanmar</option>
        <option value="Morocco">Morocco</option>
        <option value="Nigeria">Nigeria</option>
        <option value="Pakistan">Pakistan</option>
        <option value="Peru">Peru</option>
        <option value="Philippines">Philippines</option>
        <option value="Russia">Russia</option>
        <option value="Saudi Arabia">Saudi Arabia</option>
        <option value="South Africa">South Africa</option>
        <option value="Spain">Spain</option>
        <option value="Sri Lanka">Sri Lanka</option>
        <option value="Thailand">Thailand</option>
        <option value="Turkey">Turkey</option>
        <option value="Uganda">Uganda</option>
        <option value="Ukraine">Ukraine</option>
        <option value="Venezuela">Venezuela</option>
        <option value="Vietnam">Vietnam</option>
    </select>

    <!-- I need a button to push-->
<button type="submit" style="width: 150px;">Place Order</button>

</form>
