@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Thank you for your purchase!</h2>
<h3>Order #@ViewBag.OrderNumber</h3>
