@{
    Layout = "_AdminLayout";
}
@model Product
<h1 style="text-align:center">Edit Product</h1>
<br />
<br />


<form asp-controller="Home" asp-action="EditProduct" method="post" style="max-width: 400px; margin: auto;">
    <input asp-for="ProductId" type="hidden" />

    <label asp-for="Name">Name:</label>
    <input asp-for="Name" type="text" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />

    <label asp-for="Description">Description:</label>
    <input asp-for="Description" type="text" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />

    <label asp-for="Price">Price:</label>
    <input asp-for="Price" type="decimal" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />

    <label asp-for="Category">Category:</label>
    <input asp-for="Category" type="text" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />

    <label asp-for="Year">Year:</label>
    <input asp-for="Year" type="text" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />

    <label asp-for="NumParts">NumParts:</label>
    <input asp-for="NumParts" type="text" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />

    <label asp-for="ImgLink">ImgLink:</label>
    <input asp-for="ImgLink" type="text" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />

    <label asp-for="PrimaryColor">PrimaryColor:</label>
    <input asp-for="PrimaryColor" type="text" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />


    <label asp-for="SecondaryColor">SecondaryColor:</label>
    <input asp-for="SecondaryColor" type="text" style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br /><br />

    <button type="submit"
            class="btn btn-info"
            style="display: inline-flex; justify-content: center; align-items: center; outline: 0; cursor: pointer; height: 34px; padding: 0 13px;
        color: #fff; border-radius: 3px; border: 1px solid transparent; transition: all .3s ease; background: #92b6f0; border-color: black;
        font-weight: 600; text-transform: uppercase; line-height: 16px; font-size: 14px;">
        Submit
    </button>

</form>