@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>
    Thank you for visiting us at Aurora's Bricks! Unfortunately your order has been placed under review. 
    We will reach out and contact you once your order has been succesfully placed. Thanks!
</h2>