@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Log In!</h1><br /><br />

<div class="container text-center text-black col-md-6" style="background-color: white; padding-top: 30px; padding-bottom: 30px; border: 2px solid black; width: 300px;">
    <form>
        <fieldset>
            <label for="txtUser">Username:</label>
            <input type="text" id="txtUser" name="username">
            <br>
            <br>
            <label for="txtPass">Password: </label>
            <input type="password" id="txtPass" name="password">

            <div class="text-center mt-4">
                <button class="btn btn-large btn-outline-dark">Sign In</button>
            </div>
        </fieldset>
    </form>
</div><br>

<form>
    <div class="container d-flex align-items-center flex-column">
        <p style="font-size: 30px">No Account? Sign Up Today!</p>
        <br>
        <button style="background-color: white;" class="btn btn-xl btn-outline-dark">Create Account</button>
    </div>
</form>