@model INTEX_II_413.Models.Customer

<h1 style="text-align:center">Log In</h1><br />

<div class="container text-center text-black col-md-6" style="background-color: white; padding-top: 30px; padding-bottom: 30px; border: 2px solid black; width: 300px;">
    <form asp-page="/Cart" method="post">
        
        <label asp-for="UserName">Username:</label>
        <input asp-for="UserName" type="string" ><br /><br />

        <label asp-for="Password">Password: </label>
        <input asp-for="Password" type="password" ><br /><br />

        <button type="submit" style="width: 150px;">Sign In</button>
    </form>

</div>


<div class="container d-flex align-items-center flex-column">
    <p style="font-size: 30px">No Account? Sign Up Today!</p>
    <br>
    <form asp-controller="Home" asp-action="CreateAccount" method="post">
        <button type="submit" style="width: 150px;">Create Account</button>
    </form>
</div>
