@model INTEX_II_413.Models.Customer
<h1>Tell Us About Yourself</h1>
<div class="container text-center text-black col-md-6" style="background-color: white; padding-top: 30px; padding-bottom: 30px; border: 2px solid black; width: 300px;">
    <form asp-controller="Home" asp-action="TEMPORARY" method="post">
        <label asp-for="FirstName"> First Name:</label>
        <input asp-for="FirstName" type="text" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br />

        <label asp-for="LastName">LastName:</label>
        <input asp-for="LastName" type="text" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br />

        <label asp-for="BirthDate">BirthDate:</label>
        <input asp-for="BirthDate" type="datetime" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br />

        <label asp-for="Country">Country:</label>
        <input asp-for="Country" type="string" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br />

        <label asp-for="Gender">Gender:</label>
        <input asp-for="Gender" type="char" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br />

        <label asp-for="Age">Age:</label>
        <input asp-for="Age" type="number" required style="width: 100%; padding: 8px; margin-bottom: 16px; box-sizing: border-box;"><br />


        <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px; border: none; border-radius: 4px; cursor: pointer; margin: auto; display: block;">Submit</button>
    </form>
</div>
<br>
